*{
    border: 0;
    margin: 0;
}
.shoes-card{
    border: 0;
}
.shoes-card-fotter{
    background-color: white;
    border: 0;
}
.top-heading1{
   
   background-color: brown;
   color: white;
   border-radius: 10px;

}
.second-heading{
    text-align: center;
}
.button1{
    text-decoration: none;
    background-color: navy;
    border:500px;
    align-items: center;
}
.shoes-color{
    background-color: #cecece;
    border-radius: 10px;
    
}
.side-navbar{
    margin-right: 500px;
}
.menu-bar ul li a{
    font-weight: 700;
    color:gray;
    
}
.menu-bar ul li a:hover{
    background-color: green;
}
.visit-shoe{
    background-color: tomato;
}
.button{
    background-color: #2a1e59;
    color: white; 
    font-size: small;
    border-radius: 0.5em;
}
